<!doctype html>
<html lang="en">
  <head>
    <title>Shoppy</title>
  </head>
  <body>
  <div id="content">
    <div id="search">
      <form method="GET">
        <input name="q" placeholder="Search:" type="search">
        <input value="Go!" type="submit">
      </form>
    </div>
    {% block content %}{% endblock %}
  </div>
  </body>
</html>
