<!doctype html>
<html lang="en">
  <head>
    <title>Shoppy</title>
    <style>
      table, tr, th, td {
        border: 1px solid black;
        padding: 5px;
      }

      .inline {
        display: inline-block;
      }
    </style>
  </head>
  <body>
  <div id="content">
    {% if user %}
      <p>
        <div class="inline">Welcome, {{ user.username }}</div>
        <a class="inline" href="/logout/">Logout</a>
      </p>
    {% else %}
      Please <a href="/login/">login</a>
    {% endif %}
    <div>
      <a href="/" class="inline">Home</a>
      <form method="GET" class="inline">
        <input name="q" placeholder="Search:" type="search">
        <input value="Go!" type="submit">
      </form>
      <p></p>
    </div>
    {% block content %}{% endblock %}
  </div>
  </body>
</html>
